@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Nunito&family=Paytone+One&display=swap');


body {
    background-color: #16161a;
    color:#94a1b2;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #fffffe;
    font-family: 'Acme', sans-serif;
}

nav {
    background-color: #72757e;
    text-align: left;
    position: sticky;
    top: 0px;
}

nav > a {
    color: #010101;
    text-decoration: none;
    padding: 8px;
    display: inline-block;
}

nav > a:hover {
    background-color: #55423d;
}

footer {
    background-color: #96979c;
}

footer > a {
    color: #010101;
    text-decoration: none;
    padding: 8px;
    display: inline-block;
}

footer > a:hover {
    background-color: #55423d;
}

li > a {
    color: #fff3ec;
    text-decoration: none;
}

li > a:hover {
    background-color: #55423d;
}

p > a {
    color: #fff3ec;
    text-decoration: none;
}

p > a:hover {
    background-color: #55423d;
}

p > iframe {
    background-color: #55423d;
    padding: 8px;

}

#robot{
    overflow: auto;
    
}

.a {
    float: right;
}

input, textarea {
    background-color: #010101;
    color: #fffffe;
    font-family: 'Nunito', sans-serif;
    border: 3px;
    border-color: white;
    border-style: solid;
    border-radius: 9px;
    padding: 8px;

}

input:focus, textarea:focus {
    border: #55423d 5px solid;
}

input[type=submit], input[type=reset] {
    color: #7f5af0;
    font-family: 'Acme', sans-serif;
    border: 3px;
    border-color: #55423d;
    border-style: solid;
    border-radius: 9px;
    padding: 4px;
    background-color: #fffffe;

}

input[type=submit]:hover, input[type=reset]:hover {
    background-color: #232946;
}

.contactInfo {
    font-size: 18px;
}

.bold {
    font-weight: bold;
}

.rounded {
    border-radius: 8px;
}

body{
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

.grid {
    display: grid;
    background-color: white;
    grid-template-columns: auto auto;
    padding: 10px;
}

.gridItem {
    background-color: green;
    border: 1px blue;
    border-style: solid;
    padding: 15px;
    text-align: center;
}

 /* p{
    max-width: 668px;
    position:  relative;
    left: 15%;}
     work in progress  */

@media screen and (max-width: 480px) {
    /* body {
        background-color: green;
    } */
    .robot_pic {
        width: 320px;
        height: 200px;
    }
    #robot_team {
        width: 320px;
        height: auto;
    }
    nav, footer {
        font-size: 12px;
        float: none;
        text-align: center;
    }
    #thisWebsite {
        width: 320px;
        height: auto;
    }
    #myPicture {
        width: auto;
        height: 300px;
    }
    #securityFloor {
        width: 320px;
        height: auto;
    }
    .a {
        float: none;
    }
    #linkedIn {
        display: none;
    }
}