@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Nunito&family=Paytone+One&display=swap');


body {
    background-color: #16161a;
    color:#94a1b2;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #fffffe;
    font-family: 'Acme', sans-serif;
}

nav {
    background-color: #72757e;
    position: sticky;
    top: 0px;
    border-radius: 8px;
}

nav > a {
    color: #010101;
    text-decoration: none;
    padding: 8px;
    display: inline-block;
    border-radius: 8px;
}

nav > a:hover {
    background-color: #55423d;
}

footer {
    background-color: #96979c;
    bottom: 0px;
    border-radius: 8px;
    color: #010101;
    text-decoration: none;
    padding: 8px;
}

ul{
    display: inline-block;
    text-align: left;
}

li > a {
    color: #fff3ec;
    text-decoration: none;
}

li > a:hover {
    background-color: #55423d;
}

p > a {
    color: #fff3ec;
    text-decoration: none;
}

p > a:hover {
    background-color: #55423d;
}

p > iframe {
    background-color: #55423d;
    padding: 8px;

}

#robot{
    overflow: auto;
    
}

.a {
    float: right;
}

input, textarea {
    background-color: #010101;
    color: #fffffe;
    font-family: 'Nunito', sans-serif;
    border: 3px;
    border-color: white;
    border-style: solid;
    border-radius: 9px;
    padding: 8px;

}

input:focus, textarea:focus {
    border: #55423d 5px solid;
}

input[type=submit], input[type=reset] {
    color: #7f5af0;
    font-family: 'Acme', sans-serif;
    border: 3px;
    border-color: #55423d;
    border-style: solid;
    border-radius: 9px;
    padding: 4px;
    background-color: #fffffe;

}

input[type=submit]:hover, input[type=reset]:hover {
    background-color: #232946;
}

.contactInfo {
    font-size: 18px;
}

.bold {
    font-weight: bold;
}

.rounded {
    border-radius: 8px;
}

body{
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
}

.grid {
    display: grid;
    background-color: #5f6c7b;
    grid-template-columns: auto auto;
    padding: 5px;
    width: 886px;
    margin: auto;
}

.gridItem {
    background-color: #232946;
    border: 2px #55423d;
    border-style: solid;
    padding: 20px;
    width: 400px;

}

/* #gridItem_1 {
    background-color: #232946;
    border: 2px #55423d;
    border-style: solid;
    padding: 20px;
    width: 350px;
}

#gridItem_3 {
    background-color: #232946;
    border: 2px #55423d;
    border-style: solid;
    padding: 20px;
} */

#securityFloor {
    width: 350px;
    height: auto;
}

body {
    background-size: cover;
    background-position: 0 0;
    background-attachment: fixed;
    background-image: url("blurred_subtlePrism-min.png");
  }

hr {
    border: 1px solid #96979c;
}

.grid_2 {
    display: grid;
    background-color: #5f6c7b;
    grid-template-columns: auto auto;
    padding: 6px;
    width: 401px;
    margin: auto;
}

.gridItem_2 {
    background-color: #232946;
    border: 2px #55423d;
    border-style: solid;
    padding: 11px;
    text-align: center;
    width: 375px;
}

.logo {
    width: 35px;
    top: 0px;
    left: 0px;
    background-color: #72757e;
    border: 0px;
    padding: 0px;
}

.logo:hover {
    background-color: #72757e;
}

/* #navBar {
    padding: 0px;
    border-radius: 8px;
    background-color: #72757e;
} */

#navItem {
    position: absolute;
    top: 0px;
    left: 41px;
}

#navItem2 {
    position: absolute;
    top: 0px;
    left: 115px;
}

#navItem3 {
    position: absolute;
    top: 0px;
    left: 193px;
}

#navItem4 {
    position: absolute;
    top: 0px;
    right: 76px;
}

#navItem5 {
    position: absolute;
    top: 0px;
    right: 0px;
}

nav {
    padding: 18px;
}

.relative {
    position: relative;
}

/* div > a{
    text-decoration: none;
    padding: 8px;
    color: #010101;
}

div > a:hover {
    background-color: #55423d;
    border-radius: 8px;
} */

.navLinks {
    text-decoration: none;
    padding: 7px;
    color: #010101;
    top: 0px;
    overflow: auto;
    position: absolute;
}

.navLinks:hover {
    background-color: #55423d;
    border-radius: 8px;
}

.nonderline {
    text-decoration: none;
}
/* .navItem {
    border-radius: 8px;
    color: #010101;
}

.navItem2 {
    border-radius: 8px;
    color: #010101;
} */

#compVid {
    border: 0px;
}

.logo {
    padding: 0;
    background-color: transparent;
    border-radius: 8px;
}

.logo:hover {
    background-color: transparent;
}

.center{
    text-align: center;
    margin: auto;
}

#altLogo{
    display: none;
}

.sticky {
    position: sticky;
}

@media screen and (max-width: 480px) {
    /* body {
        background-color: green;
    } */
    .robot_pic {
        width: 320px;
        height: 200px;
    }
    #robot_team {
        width: 320px;
        height: auto;
    }
    nav, footer {
        font-size: 12px;
        float: none;
        text-align: center;
    }
    #thisWebsite {
        width: 320px;
        height: auto;
    }
    #myPicture {
        width: auto;
        height: 300px;
    }
    #securityFloor {
        width: 250px;
        height: auto;
    }
    .a {
        float: none;
    }
    #navItem5 {
        display: none;
    }
    .grid{
        grid-template-columns: auto;
        padding: 5px;
        font-size: small;
        width: 350px;
        height: auto;
        margin: auto;
    }
    .gridItem {
        padding: 5px;
        width: 336px;
    }
    .imgGrid {
        width: 200px;
        height: auto;
    }
    .grid_2 {
        grid-template-columns: auto;
        padding: 5px;
        font-size: small;
        width: 344px;
        height: auto;
        margin: auto;
    }
    .gridItem_2 {
        padding: 5px;
        width: 330px;
    }
    p > iframe {
        padding: 3px;
    }
    input[type=submit], input[type=reset] {
        font-size: 17px;
    }
    nav > div{
        /* position: static; */
        margin: auto;
        text-align: center;
        top: 1px;
    }
    .navLinks {
        /* position: fixed; */
        overflow: auto;
        text-align: center;
        padding: 10px;
    }
    .logo {
        display: block;
        top: -10px;
        left: -2px;
    }
    #altLogo {
        display: none;
        left: 0px;
        top: 8px;
    }
    #navItem {
        left: 50px;
        top: 0px;
    }
    #navItem4 {
        right: 0px;
    }
    #navItem3 {
        left: 177px;
        width: 65px;
    }
    #navItem2 {
        left: 113px;
    }

    /* .logo {
        left: -15px;
    }
    .navLinks {
        overflow: auto;
    }
    nav {
        padding: 15px;
    } */
    /* nav > a {
        position: inherit;
        font-size: 10px;
        overflow: auto;
        padding: 10px;
        top: 2px;
    }
    .logo2 {
        width: 5px;
        position: absolute;
        left: 0px;
        top: 0px;

    }
    nav {
        position: sticky;
    }
    nav > div {
        padding: 0px;
        position: inherit;
        text-align: center;
    }
    .navLinks {
        padding: 0px;
        position: inherit;
        text-align: center;
        left: auto;
        right: auto;
        overflow: auto;
    }
    .logo {
       display: none;
    }
    #altLogo {
        display: block;
    } */
}
